.remWorkingBlock {
    display: flex;
    align-items: center;
    min-height: 35vh;
    background-color: rgba(250,243,248,0.99);
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border: 1px solid red;

    min-height: 50%;
    width: 80%;
    margin: 0 auto;
    flex-wrap: nowrap;

}

.title {
    background-color: gainsboro;
    text-align: center;
    margin: 15px 0 20px 0;
    padding: 0 10px 0
}

.navText {
    width: 120px;
    height: 38px;
    background-color: cornflowerblue;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;

    font-size: 18px;
    font-weight: 600;
    color: white;
    text-decoration: none;
    padding: 10px;
}

h2 {
    margin-top: 0;
}