.mainBlock {
    height: 100vh;
    background-color: rgba(255, 220, 200, 0.99);
}


.text {
    width: 300px;
    background-color: rgba(232, 226, 255, 0.99);
}

.photo {
    width: 300px;
    height: 400px;
    background-color: rgba(221, 255, 252, 0.99);
}
