$textColor: #fff;
$primaryColor: #FFC576;
$bgColor: #232a34; // темный
$bgSecondColor: #2d343e; ; // серый
$textBtnColor: #000000; ; // черный
$titleFontFamily: 'Josefin Sans', sans-serif;
$textFontFamily: 'Poppins', sans-serif;

//background-color: #252b33; темный
//background-color: #343a40; серый
//$primaryColor: #f3c26b; yellow

//$textColor: #fff;
//$primaryColor: #4e93e6;
//$bgColor: #1f1f20;
//$bgSecondColor: #252527;
//$titleFontFamily: 'Josefin Sans', sans-serif;
//$textFontFamily: 'Poppins', sans-serif;

